/*general*/
:root{
    scroll-behavior: smooth;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke !important;
}

.gradient{
    background-color: #336b87;
}

#navbar-atas{
    transition: all 0.5s ease-in;
    z-index: 9999;
}

.img-fluid.container-fluid{
    background-image: url(https://media.istockphoto.com/id/1361855790/id/foto/komposisi-abstrak-dengan-titik-dan-garis-penghubung-latar-belakang-biru-efek-pleksus.jpg?b=1&s=612x612&w=0&k=20&c=ifKPhgysDpWqmco-Oob7SQDMoJhDFAMUNiImBdcK_vM=);
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.offcanvas-lg .offcanvas-body .nav-pills .nav-item .nav-link.active{
    background-color: #c6ecff;
    color: black;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #c6ecff;
}

.nav-item .nav-link:hover{
    color: black;
    background-color: #c6ecff;
    border-radius: 6px;
}

.wht{
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.25)
}

.footer{
    background-color: #336b87;
    position: relative;
    width: 100%;
    min-height: 47vh;
}

.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}


@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

@media (max-width: 575px) {
    .offcanvas.offcanvas-lg.offcanvas-start {
        width: 60%;
    }
}

/*riwayat-judul*/
.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.container-input select {
    width: 75px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
    box-shadow: 0 0 7px #b7e5fc;
}

/*hak-cipta*/
.format{
    color: red;
    font-size: 11px;
}

.btn.submit{
    border-color: #336b87;
    color: #336b87;
}

.btn.submit:hover{
    background-color: #336b87;
    border-color: #336b87;
    color: white;
}

/*unduhan*/
/*status*/
/*Dashboard Admin*/
/*Profile*/
/*Change-Password*/